html { font-size: 16px; }
table.schedule { border: 1px solid black; border-collapse: collapse; margin-top: 2rem; }
table.schedule td { border: 1px solid black; text-align: center; padding: 0 10px; }
table.schedule td.busy { background-color: #cde6f2; overflow: hidden; padding: 0.5rem; }
table.schedule td.busy a { display: block; margin: -10em; padding: 10em; color: #0e1b4d; }
table.schedule td.break { background-color: #ffb; }
table.schedule td.day { padding: 2rem; font-weight: bold; font-size: 2rem; }
.schedule .time.hovered {  background-color: #ccc; }
.schedule img { max-width: 100px; margin: 0.5rem; }

.talk-title { font-weight: bold;}

.details { max-width: 960px; margin: 0 auto; }
.details h3, .talk-title { font-family: Raleway, sans-serif; }

.details .track-header img { max-width: 200px; max-height: 150px; }

.details .track-header {
  border: 5px solid #cad4f6;
  padding: 1rem 1rem;
}

.talk {
  padding: 0.5rem 1rem;
}

.details .talk + .talk {
  border-top: 1px solid #cad4f6;
}

html {
  scroll-padding-top: 70px; /* height of sticky header */
}
